.welcome-screen {
    background-image: url('assets/bg.png'); /* Replace with your image path */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
  }

  .welcome-screen {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),  /* Starting color, semi-transparent black */
        rgba(0, 0, 0, 0.5)   /* Ending color, can be different */
      ),
      url('assets/bg.png') no-repeat center center;
    background-size: cover;
  }
  
  body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: larger;
  }
  
  
  .hidden {
    display: none;
  }
 .homepage-text{
    color: white;

  }
  
  #viewTimelineBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  

.gallery-container {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
  }

  .gallery-slide {
    display: none;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }

  .gallery-slide.active {
    display: block;
  }

  .gallery-prev, .gallery-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
  }

  .gallery-prev { left: 10px; }
  .gallery-next { right: 10px; }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it's above other content */
}

.loader {
    position: fixed;
    margin-left: 50%;
    width: 100%;
    margin-top: 20%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it's above other content */
}

.spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

#timeline {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

